body {
    margin: 0;
    position: relative;


}
    .modal-dialog {
        max-width: 100vw;
    }


    .toggle_box {
        position: absolute;
        z-index: 1060;
        margin: 20px 15px;
        color:#404040;
        @media screen and(max-width:991px) {
            margin-left: 93%;
            margin-top: 10px;
            color: white;
        }
        @media screen and(max-width:850px) {
            margin-left: 92%;
        }

        @media screen and(max-width:750px) {
            margin-left: 91%;
            margin-top: 10px;
        }
        @media screen and(max-width:650px) {
            margin-left: 90%;
            margin-top: 10px;
        }
        @media screen and(max-width:600px) {
            margin-left: 89%;
            margin-top: 5px;
        }
        @media screen and(max-width:550px) {
            margin-left: 88%;
            margin-top: 5px;
        }
        @media screen and(max-width:520px) {
            margin-left: 87%;
        }
        @media screen and(max-width:480px) {
            margin-left: 86%;
        }
        @media screen and(max-width:440px) {
            margin-left: 85%;
        }
        @media screen and(max-width:410px) {
            margin-left: 84%;
        }
        @media screen and(max-width:390px) {
            margin-left: 83%;
        }
        @media screen and(max-width:360px) {
            margin-left: 82%;
        }
        @media screen and(max-width:340px) {
            margin-left: 81%;
        }
        @media screen and(max-width:320px) {
            margin-left: 80%;
        }
    }
    // left_box為左側邊上的英文標語
    .left_box {
        position: absolute;
        width: 30px;
        height: 600px;
        margin: 60px 15px;
        z-index: 10;
        p{
            writing-mode: vertical-lr;
            font-family:  '微軟正黑體';
            font-size: 16px;
            margin: 0;
            color:#AAA;
            text-align: justify;
            letter-spacing: 2px;
        }

        @media screen and (max-width:991px) {
            display: none;
        }
    }
    .pic {
        position: absolute;
        margin-top: 5%;
        margin-left: 38%;
        width: 150px;
        height: 150px;
        background-image: url(./img/山png0.png);
        background-position: center;
        background-size: cover;
        z-index: 10;
        @media screen  and (max-width:1500px) {
            margin-left: 34%;
        }
        @media screen  and (max-width:1400px) {
            margin-top: 3%;
            margin-left: 33%;
        }
        @media screen  and (max-width:1250px) {
            // margin-top: 5%;
            margin-left: 32%;
        }
        @media screen  and (max-width:1125px) {
            // margin-top: 2%;
            margin-left: 30%;
        }
        @media screen  and (max-width:991px) {
            display: none;
        }
    }
    .card {
        .col-lg-6 {
            display: flex;
            align-items: center;

                .text {
                    padding: 0 50px;
                    z-index: 11;
                }
        }
        .col-12 {
            width: 100%;
            .text {
                width: 100%;
                // height: 600px;
                font-family:'新宋體';
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                text-align: justify;
                padding: 160px 150px;

                .small_up_title {
                    width: 100%;
                    font-size: 8px;
                    color:#AAA;
                    font-family:'新宋體';
                    word-spacing:4px;
                    margin-bottom: 5px;
                    letter-spacing: 2px;
                }
                h1 {
                    letter-spacing: 15px;
                    width: 100%;
                    margin: 0;
                    margin-left: -3px;
                    font-family: '微軟正黑體';
                    @media screen and (max-width:350px) {
                        letter-spacing: 2px;
                    }
                }
                .small_bottom_en {
                    width: 100%;
                    margin-top: 5px;
                    font-size: 10px;
                    color:#AAA;
                    word-spacing:3px;
                    letter-spacing: 2px;
                    font-family: '微軟正黑體';
                    @media screen and (max-width:350px) {
                        word-spacing:2px;
                    }
                }
                .small_bottom_title {
                    width: 100%;
                    margin: 20px 0;
                    letter-spacing: 2px;
                    .small_bottom_calendar {
                        width: 100%;
                        font-family:'新宋體';
                        display: flex;
                        p{
                            margin-top: -5px;
                            margin-left: 5px;
                        }
                    }

                    .small_bottom_map {
                        width: 100%;
                        font-family:'新宋體';
                        display: flex;
                        p{
                            margin-top: -5px;
                            margin-left: 5px;
                        }

                    }
                }
                .center_text {
                    width: 100%;
                    height: 350px;
                    overflow: auto;
                    letter-spacing: 5px;
                    line-height: 25px;
                    // 卷軸樣式修改//
                    ::-webkit-scrollbar {
                        // 卷軸寬度//
                        width: 5px;
                      }
                      /* Track */
                      ::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px grey;
                        border-radius: 5px; 
                      }
                       
                      /* Handle */
                      ::-webkit-scrollbar-thumb {
                        background: #AAA; 
                        border-radius: 5px;
                        
                      }
                      
                    @media screen and (max-width: 991px) {
                        height: 600px;
                    }

                    @media screen and (max-width: 650px) {
                        margin-bottom: 30px;
                    }
                }
                @media screen and (max-width:1400px) {

                    padding: 120px 80px;
                }
    
                @media screen and (max-width:991px) {

                    padding: 50px 120px;
                }
                @media screen and (max-width:800px) {

                    padding: 60px 70px;
                }

                @media screen and (max-width:750px) {

                    padding: 50px 70px;
                }
                @media screen and (max-width:700px) {
                    padding: 50px 50px;
                }
                @media screen and (max-width:400px) {
                    padding: 40px 40px;
                }

    
            }

        }
    }
    .bottom_box {
        position: absolute;
        bottom: 15px;
        //父層position:relative
        //搭配position:absolute及bottm:0則.bottom_box就會常駐底部
        width: 1200px;
        height: 100px;
        display: flex;
        align-items: center;
        z-index: 1060;
        @media screen  and (max-width:991px) {
            bottom: 4px;
        }
        @media screen  and (max-width:550px) {
            bottom: 1px;
        }
        
        .bo_left {
            margin: 0;
            width: 550px;
            padding: 20px 0;

            .up_line {
                width: 100%;
                height: 50%;
                border-bottom: 1px solid #AAA;
            }
            @media screen  and (max-width:1650px) {
                width: 500px;
            }      
            @media screen  and (max-width:1600px) {
                width: 450px;
            }      
            @media screen  and (max-width:1500px) {
                width: 400px;
            }            
            @media screen  and (max-width:1400px) {
                width: 350px;
            }      
            @media screen  and (max-width:1300px) {
                width: 300px;
            }      
            @media screen  and (max-width:1200px) {
                width: 250px;
            }
            @media screen  and (max-width:1100px) {
                width: 200px;
            }  

            @media screen  and (max-width:991px) {
                width: 600px;
            }      
            @media screen  and (max-width:900px) {
                width: 550px;
            }      
            @media screen  and (max-width:850px) {
                width: 500px;
            }
            @media screen  and (max-width:800px) {
                width: 450px;
            }
            @media screen  and (max-width:740px) {
                width: 400px;
            }
            @media screen  and (max-width:690px) {
                width: 350px;
            }
            @media screen  and (max-width:640px) {
                width: 300px;
            }
            @media screen  and (max-width:590px) {
                width: 250px;
            }
            @media screen  and (max-width:555px) {
                width: 200px;
            }
            @media screen  and (max-width:490px) {
                width: 150px;
            }
            @media screen  and (max-width:440px) {
                width: 100px;
            }
            @media screen  and (max-width:390px) {
                width: 80px;
            }
            @media screen  and (max-width:360px) {
                width: 60px;
            }
            @media screen  and (max-width:340px) {
                width: 45px;
            }

        }
        .bottom_center {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .bo_center {
                order: 1;
                width: 45px;
                height: 90px;
                padding: 10px 0;
                left: 50px;
                border: black 1px solid;
                border-radius: 0 100% 100% 0/50%;
                border-left: none;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen  and (max-width:991px) {
                    width: 35px;
                    height: 70px;
                }
                @media screen  and (max-width:450px) {
                    width: 30px;
                    height: 60px;
                }
                @media screen  and (max-width:370px) {
                    width: 25px;
                    height: 50px;
                }
            }   
            
            .bo_box {
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-image: url(./img/97-1-pc.jpg);
                background-position: center;
                background-size: cover;
                right: 8px;
                @media screen  and (max-width:991px) {
                    width: 55px;
                    height: 55px;
                }
                @media screen  and (max-width:450px) {
                    width: 45px;
                    height: 45px;
                }

                @media screen  and (max-width:370px) {
                    width: 35px;
                    height: 35px;
                }
            }

        }
            .bo_right {
                width: 400px;
                height: 100px;
                line-height: 100px;
                margin-left: 30px;
                @media screen and (max-width:500px) {
                    margin-left: 10px;
                }
                a {
                    background-color: #AAA;
                    color: white;
                    border-radius: 4px;
                }
                p {
                    letter-spacing: 2px;
                    font-size: 12px;
                }
            }

        
        
    }
        
    // 卷軸樣式修改//
    // ::-webkit-scrollbar {
    //     width: 10px;
    //   }
      
    //   /* Track */
    //   ::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 5px grey; 
    //     border-radius: 10px;
    //   }
       
    //   /* Handle */
    //   ::-webkit-scrollbar-thumb {
    //     background: #AAA; 
    //     border-radius: 10px;
    //   }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }